:root {
    --base-color: #575656;
    --text-color: #ffffff;
    --background-color: #181818;
    --border-color: #1bac08;
    --highlight-color: #a8a8a8;
    --employee-color: #ffa500;
    --intern-color: lightgreen;
    --gap-size: 1em;
}

body {
    font-size: large;
    background-color: var(--background-color);
    color: var(--text-color)
}

#main-container {
    gap: var(--gap-size);
    display: grid;
}

#top-bar {
    border: 1px solid;
    padding: 5px;
    border: 1px solid var(--border-color);
    display: grid;
    justify-content: space-between;
    padding: 5px;
}

#top-bar-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 15px;
}

#main-area {
    gap: var(--gap-size);
    display: grid;;
    grid-template-columns: repeat(3,minmax(400px, 1fr));
}

.employee-card {
    border: 2px solid var(--border-color);
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: var(--base-color);
    position: relative;
}

.employee-card:hover {
    background-color: var(--intern-color);
}

.employee-card:hover button {
    visibility: visible;
}

.info-button {
    visibility: hidden;
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 50%;
    top: 0;
    right: 0;
}

.employee-info {
    margin: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
    justify-items: center;
}

.employee-card>img {
    width: 200px;
    height: 200px;
}

.position {
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
    background-color: var(--employee-color);
    width: 100%;
}

.intern{
    background-color: var(--intern-color); 
}

.bold {
    font-weight: bold;
}
